.faq {
  background-color: #0000000D;
  /* width: 100px; */
  width: calc(100% - 220px);
  position: fixed;
  right: 0;
  bottom: 0;
  height: 815px;
}

.sellerfaq {
  background-color: #FFFFFF;
  width: 1150px;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* margin-top: 20px;
  margin-left: 60px; */
}

.buyerfaq {
  background-color: #FFFFFF;
  width: 1150px;
  height: 350px;
  border-radius: 5px;
  /* margin-top: 30px;
  margin-left: 60px; */
}

.answerfaq {
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  /* margin-left: 1200px; */
  border-radius: 5px;
  /* justify-content: space-between; */
}

.displayfaq {
  margin-left: 60px;
  margin-right: 30px;
}

.tablehead {
  background-color: #F5F6F7;
}