.contactus {
  background-color: #0000000D;
  width: calc(100% - 180px);
  top: 60px;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
}

.displayContactus {
  margin-left: 30px;
  margin-right: 30px;
}

.pendingContactus {
  background-color: #FFFFFF;
  width: 1230px;
  height: 320px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.repliedContactus {
  background-color: #FFFFFF;
  width: 1230px;
  height: 320px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.closedContactus {
  background-color: #FFFFFF;
  width: 1230px;
  height: 320px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contactus-paginate {
  justify-content: center;
  align-items: center;
}
