.contractordetail {
  background-color: #0000000D;
  width: calc(100% - 180px);
  top: 60px;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
}

.container-contractor {
  margin-left: 30px;
  background-color: white;
  height: 100%;
  font-size: 14px;
}

.username-contractor {
  display: flex;
  padding: 30px 30px 20px 30px;
  align-items: center;
}

.status-box-contractor {
  background-color: #FFD700;
  height: 300px;
  width: 480px;
  margin-left: 30px;
  border-radius: 8px;
}

.deactivated-box-contractor {
  background-color: #FF6666;
  height: 300px;
  width: 480px;
  margin-left: 30px;
  border-radius: 8px;
}

.rating-contractor {
  background-color: #FFFDCE;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.folder-contractor {
  width: 90px;
  height: 90px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  transform: 0.1s;
  word-break: break-all;
  /* padding: 5px; */
  margin: 15px;
}

.document-area-contractor {
  /* background-color: pink; */
  height: 250px;
  width: 1205px;
  margin-left: 30px;
  margin-top: 50px;
  border-radius: 8px;
  padding: 15px;
}

.documents-boxes-contractor {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.document-contractor {
  display: flex;
  flex-direction: column;
}

.document-title-contractor {
  padding: 10px;
}

.status-transaction {
  display: flex;
}

.reviews-contractor {
  background-color: #FFD700;
  width: 650px;
  height: 350px;
  margin-left: 50px;
  padding: 15px;
  border-radius: 8px;
  max-height: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.individual-review-contractor {
  background-color: #FFFDCE;
  height: 120px;
  width: 620px;
  margin-top: 10px;
  border-radius: 8px;
}

.review-description-contractor {
  background-color: #FFFDCE;
  width: 600px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  max-height: 68px;
  height: 68px;
  border-radius: 8px;
  overflow-y: auto;
  flex-wrap: wrap;
  display: flex;
}

.review-rating-contractor {
  font-weight: 600;
}

.review-username-contractor {
  display: flex;
  padding: 6px;
  align-items: center;
}

