.lawyers {
  background-color: #0000000D;
  width: calc(100% - 180px);
  top: 60px;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
}

.lawyersList {
  background-color: #FFFFFF;
  width: 1000px;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 130px;
}

.lawyers-paginate {
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
}