.topbar {
  width: calc(100% - 250px - 5px);
  position: fixed;
  top: 0;
  right: 0;
  /* margin-left: 280px; */
  background-color: #FFFFFF;
  padding: 16px, 40px, 16px, 40px;
}

.searchbar {
  width: 240px;
  height: 40px;
  background-color: #F2F3F480;
  margin-top: 20px;
  margin-left: 50px;
}