.not-found {
  width: calc(100% - 180px);
  top: 60px;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh; /* Ensure the container takes the full viewport height */
}