.navibar {
  width: 220px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  /* background-color: grey; */
  padding: 20px;
}

.navibar a {
  color: #626C70;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.navibar title {
  color: #959FA3;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  margin-top: 2em;
}
