/* Updated Topbar.css */

.topbar {
  width: calc(100% - 180px);
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.searchbar {
  width: 200px;
  background-color: #F2F3F480;
  align-items: center;
  margin-left: 50px;
  border-radius: 4px;
}

.notif {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.admin {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #FFD599;
  margin-right: 20px;
  cursor: pointer;
}

.icons-container {
  display: flex;
  align-items: center;
}

/* Styles for Notifications Panel */

.notifications-panel {
  position: absolute;
  top: 50px; /* Adjust the distance from the notification icon as needed */
  right: 10px;
  width: 30em; /* Adjust the width as needed */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 2;
  overflow-y: auto;
  max-height: 20em; /* Limit the height of the panel */
}

/* Styles for Notification Items */

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification-item:last-child {
  border-bottom: none; /* Remove the border for the last notification item */
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-content p {
  margin: 0; /* Remove any default margin on paragraphs */
  padding-right: 10px; /* Add some spacing between content and time */
  font-size: 14px;
  color: #333; /* Text color */
}

.notification-time {
  font-size: 12px;
  color: #999; /* Time color */
}

/* Styles for Buttons */

.mark-as-read-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.mark-as-read-button button:hover {
  background-color: #0056b3;
}

/* Styles for Buttons and Links */

.notification-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.view-all-link, .mark-read-link {
  color: #007BFF;
  text-decoration: none;
  cursor: pointer;
}

.mark-read-link {
  margin-right: 0.5em; /* Add margin between the two links */
}

